<!doctype html>
<html>

<head>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/dark.min.css">
	<link rel="stylesheet" href="https://water-css-custom.piemadd.repl.co/style.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Login | <%= siteName %>
	</title>
	<script defer data-domain="aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa.com" src="https://plausible.io/js/plausible.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/url-lengthener@latest/url-lengthener.min.js"></script>
	<script src="../static/bundle.js"></script>
</head>

<body>
	<script src="../static/crypto.js"></script>
	<div class="eee">
		<div>
			<center>
				<h1>Decrypt | <%= siteName %>
				</h1>
				<button onclick="decrypt()" value="Decrypt">Decrypt</button>
				<p>Note: You can only decrypt a URL once. After that, it is gone forever.</p>
				<br><br><br><br><br><br><br><br><br><br><!-- yes i know this is bad. yes i am lazy. no i don't care. shhhhh you didn't see this. -->
				
			</center>
			<center>
				This site is protected by hCaptcha and its
				<a href="https://hcaptcha.com/privacy">Privacy Policy</a> and
				<a href="https://hcaptcha.com/terms">Terms of Service</a> apply.
			</center>
		</div>
	</div>
	<script>
		async function decrypt() {

			console.log("generating keys!")

			let keyPair = await window.crypto.subtle.generateKey(
			{
				name: "RSA-OAEP",
				modulusLength: 4096,
				publicExponent: new Uint8Array([1, 0, 1]),
				hash: "SHA-256"
			},
			true,
			["encrypt", "decrypt"]
			);

			const private_key = await crypto.subtle.exportKey("jwk", keyPair.privateKey)

			let result = await hex2a(str2hex(JSON.stringify(await crypto.subtle.exportKey("jwk", keyPair.publicKey))))

			let site_url = "<%= siteUrl %>".replace("https://", "").replace("http://", "")

			const socket = new WebSocket(`wss://${site_url}/decrypt`);

			socket.addEventListener('open', function (event) {
				socket.send(JSON.stringify({id: "<%= id %>", publicKey: result}));
			});

			socket.addEventListener('message', function (event) {
				let decoder = new TextDecoder('utf-8');
				let encrypted_url = hex2str(a2hex(decoder.decode(event.data)));
				console.log(encrypted_url)
				let final_url = crypto.subtle.decrypt("RSA-OAEP", private_key, Buffer.from(encrypted_url));
				window.location.replace(final_url);
			});
		}
	</script>
</body>

</html>